.root {
    -fx-text-fill: lightgrey;
}

.dark-area {
    -fx-border-color: darkgrey;
    -fx-background-color: black;
}

.bright-area {
    -fx-border-color: black;
    -fx-background-color: lightgrey;
}

.side-panel {

}

.content-view {

}

.bottom-panel {

}


