.side-panel {
    -fx-background-color: #333;
    -fx-border-color: #555;
    -fx-border-width: 4px;
    -fx-padding: 10px;
}
.side-panel-button {

}
.bottom-panel {

}
.bottom-panel-button {

}
.main-panel {

}

